.info_block_container{
    margin: 0 10px;
    margin-top: 20px;
}
.info_block_container_edit{
    margin: 0 10px;
    margin-top: 30px;
}
.block_title{
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.07999999821186066px;
text-align: left;
text-transform: uppercase;
color: var(--sub-text-color);
margin-left: 16px;
margin-bottom: 5px;
}
.info_block{
    background-color: var(--background-color-2);
    border-radius: 12px;
    overflow: hidden;
}
.item_title{
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.23000000417232513px;
text-align: left;
}
.item_url{
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.4000000059604645px;
text-align: left;
color: var(--link-text-color)
}
.item_container {
    padding: 12px 16px;
    position: relative;
}

.fill_line {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    opacity: var(--line-opacity);
    height: 0.5px;
    background-color: var(--line-fill);
}
.add_button{
    display:flex;
    column-gap: 10px;
    align-items: center;
    padding: 3px 0;
}
.plus{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #31D158;
    font-size: 17px;
    font-weight: 400;
    color:var(--background-color)
}
.add{
font-size: 15px;
font-weight: 490;
line-height: 22px;
letter-spacing: -0.4000000059604645px;
text-align: left;
}
.info_subscription_2{
    margin-left: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    margin-top: 5px;
}
.info_subscription_2 div{
    width: 280px;
    margin-bottom: 10px;
    color: var(--sub-text-color)
}