.info_block_container {
    margin: 0 10px;
    margin-top: 20px;
}

.info_block_container_edit {
    margin: 0 10px;
    margin-top: 30px;
}

.block_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    text-transform: uppercase;
    color: var(--sub-text-color);
    margin-left: 16px;
    margin-bottom: 5px;
}

.info_block {
    background-color: var(--background-color-2);
    border-radius: 12px;
    overflow: hidden;
}

.item_title {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23000000417232513px;
    text-align: left;
}

.item_url {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: var(--link-text-color)
}

.item_text {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
}

.item_container {
    width: 90%;
    padding: 12px 16px;
    position: relative;
    word-wrap: break-word;
}

.fill_line {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    opacity: var(--line-opacity);
    height: 0.5px;
    background-color: var(--line-fill);
}

.add_button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
}

.plus {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #31D158;
    font-size: 17px;
    font-weight: 400;
    color: var(--background-color)
}

.add {
    font-size: 15px;
    font-weight: 490;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
}

.info_subscription_2 {
    margin-left: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    margin-top: 5px;
}

.info_subscription_2 div {
    width: 280px;
    margin-bottom: 10px;
    color: var(--sub-text-color)
}

.modal_top {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal_top div {
    margin: 0 auto;
}

.modal_top_line {
    width: 36px;
    height: 4px;
    background-color: var(--line-fill);
    opacity: var(--line-opacity);
    border-radius: 5px;
}

.modal_top_text {
    font-size: 17px;
    font-weight: 590;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
}

.modal_close {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: var(--cross-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_close img {
    width: 10px;
    height: 10px;
    opacity: 100%;

}

.modal_input_container {
    background-color: var(--background-color-2);
    margin: 0 10px;
    margin-top: 40px;
    border-radius: 12px;
}

.modal_input_container input {
    background-color: var(--background-color-2);
    margin: 0 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    border: 0;
    outline: 0;
    padding: 16px;
    color: var(--color)
}

.modal_sub_text {
    width: 300px;
    margin-left: 25px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    margin-top: 5px;
    color: var(--sub-text-color)
}

.fill_line_2 {
    margin: 0 auto;
    width: 90%;
    opacity: var(--line-opacity);
    height: 0.5px;
    background-color: var(--line-fill);
}

.item_edit_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_part {
    column-gap: 13px;
    display: flex;
    align-items: center;
}

.left_part {
    cursor: pointer;
}

.sort_img {
    cursor: grab;
}

.pin_img {
    cursor: pointer;
}

.delete_button {
    position: absolute;
    width: 85%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4%;

    background-color: var(--delete-button-color);
    padding: 15px 12px 15px 12px;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.delete_button div {
    font-size: 17px;
    font-weight: 590;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;

}
