.edit_page {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.avatar_picking {
    margin-top: 20px;
}

.avatar_edit {
    background-color: #4378FF1A;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.new_avatar_button {
    color: var(--link-text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

.info_container {
    margin-top: 20px;

}

.input_wrapper {
    display: flex;

}

.input_bar {
    border: 0;
    width: 85%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 12px;
    outline: 0;
    background-color: var(--background-color-2);
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: var(--color)
}

.info_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    text-transform: uppercase;
    color: var(--sub-text-color);
    margin-left: 25px;
    margin-bottom: 5px;
}

.info_subscription {
    margin-left: 25px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07999999821186066px;
    text-align: left;
    margin-top: 5px;
}

.info_subscription div {
    width: 280px;
    margin-bottom: 10px;
    color: var(--sub-text-color)
}
