.avatar_picking{
    margin-top: 20px;
}
.avatar_edit{
    background-color: #4378FF1A;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:0 auto;
}
.new_avatar_button{
color: var(--link-text-color);
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.4000000059604645px;
margin-top: 5px;
text-align: center;
cursor: pointer;
}