body {
    font-family: -apple-system, "SF Pro", "SF UI Text", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-text-secondary: var(--palette-transparent-dark-60);
    background: var(--background-color);
    margin: 0;
}

:root {
    --link-text-color: #007AFF;

}

@media (prefers-color-scheme: light) {
    :root {
        --line-opacity: 15%;
        --cross-color: #e5e5ea;
        --background-color: #efeff4;
        --background-color-2: #FFFFFF;
        --sub-text-color: #707579;
        --sub-text-color-2: #A2ACB0;
        --line-fill: #000000;
        --delete-button-color: rgba(241, 46, 46, 0.05);
        color: black
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --line-opacity: 5%;
        --cross-color: #222222;
        --background-color: #0F0F0F;
        --background-color-2: #212121;
        --sub-text-color: #AAAAAA;
        --sub-text-color-2: #78797E;
        --line-fill: #ffffff;
        --delete-button-color: rgba(241, 46, 46, 0.20);
        color: white;
    }
}


blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

pre {
    overflow: auto;
}

@font-face {
    font-family: 'SF Pro';
    src: url('./fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');;
}
